.key-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(25vw, auto);
  font-weight: bold;
  grid-gap: 1px;
}

.key-buttons-container > * {
  font-size: 20px;
  border: none;
}

.displayScreen {
  display: flex;
  justify-content: flex-end;
  grid-column: 1/ 5;
  grid-row: 1 / 2;
  padding: 10px;
  font-size: 30px;
  word-break: break-all;
}

.zero {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.divide,
.times,
.minus,
.plus,
.equals {
  background-color: orange;
}

@media (min-width: 768px) {
  .key-buttons-container {
    grid-template-columns: repeat(4, 5vw);
    grid-auto-rows: minmax(5vw, auto);
    width: fit-content;
    margin: 5% auto;
    border: solid 1px lightgray;
  }
}
