.navBar {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  top: 0;
  align-items: flex-start;
  background: #1dd4c2;
}

.navBar button {
  width: 10vw;
  height: 10vw;
  border: none;
  z-index: 100;
  font-size: 30px;
  outline: none;
  border-radius: 50px;
  background: none;
  padding: 20px;
}

h2 {
  display: none;
}

.hideMenu {
  display: none;
}

.showMenu {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 90vh;
  z-index: 10;
  background: yellow;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 100px 1px gray;
  margin: 0;
  padding: 0;
  animation-name: open;
  animation-duration: 100ms;
}

@keyframes open {
  from { transform: translateY(-180px); }
  to { transform: translateY(0); }
}

.showMenu li {
  list-style: none;
}

.showMenu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
  font-size: 30px;
  border-bottom: solid 1px #000;
  opacity: 0.7;
  color: #000;
}

@media (min-width: 768px) {
  .navBar {
    justify-content: space-between;
    padding: 20px 10vw;
    box-shadow: 0 0 20px -10px;
  }

  .navBar button {
    display: none;
  }

  .menuNavDesktop {
    display: flex;
    gap: 20px;
    border-radius: 0;
    align-items: flex-start;
  }

  .menuNavDesktop a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Cantarell', sans-serif;
  }

  h2 {
    display: block;
    font-size: 30px !important;
    font-family: 'Cantarell', sans-serif !important;
  }
}
