.quote {
	display: flex;
	flex-direction: column;
	padding: 20vh 0;
	gap:  50px;
}
.body {
	font-weight: bold;
	font-family: 'Cantarell';
	font-size: 30px;
	opacity: 0.7;
	color: #000;
	text-align: center;
}

.attribution {
	font-weight: bold;
	font-family: 'Cantarell';
	font-size: 18px;
	opacity: 0.7;
	color: #000;
	text-align: center;
}

@media (min-width: 786px){
	.quote {
		padding: 20vh 25vw;
	}
}